Repository eclipse-che/che-docs, pull requests merged in 2019-06, with the labels that each got.

#723 Adding support for a new debugger
  src/main/pages/che-7/hands-on-guidance/proc_adding-support-for-a-new-debugger.adoc
Labels: kind/docs

#727 Make 'Add new debugger visible'.
  src/main/_data/sidebars/che_7_docs.yml
  src/main/pages/che-7/hands-on-guidance/assembly_contributor-tasks.adoc
Labels: Che-7, kind/docs, kind/enhancement, status/code-review

#730 Add SSH key admonition.
  src/main/pages/che-6/user-guide/version-control.adoc
Labels: Che-6, kind/docs, kind/enhancement, status/code-review

#726 Structure, lang, formatting improvements to 'Tracing Che'.
  src/main/pages/che-7/administration-guide/assembly_tracing-che.adoc
  src/main/pages/che-7/administration-guide/proc_che-tracing-codebase-overview-and-extension-guide.adoc
  src/main/pages/che-7/administration-guide/proc_enabling-che-metrics-collections.adoc
  src/main/pages/che-7/administration-guide/proc_viewing-che-traces-in-jaeger-ui.adoc
  src/main/pages/che-7/administration-guide/proc_viewing-che-traces-on-jaeger-ui.adoc
  src/main/pages/che-7/administration-guide/ref_che-tracing-codebase-overview-and-extension-guide.adoc
Labels: Che-7, kind/docs, kind/enhancement, status/code-review

#733 Devfile docs, import from https://redhat-developer.github.io/devfile/
  src/main/pages/che-7/end-user-guide/assembly_making-a-workspace-portable-using-a-devfile.adoc
  src/main/pages/che-7/end-user-guide/proc_starting-a-workspace-with-a-devfile.adoc
  src/main/pages/che-7/end-user-guide/proc_writing-a-devfile-for-your-project.adoc
  src/main/pages/che-7/end-user-guide/ref_devfile-reference.adoc
Labels: Che-7, kind/docs, kind/enhancement, status/code-review

#741 Remove obsolete documentation about converting a VSCode extension to a Che Theia
  src/main/pages/che-7/end-user-guide/assembly_developing-che-theia-plug-ins.adoc
  src/main/pages/che-7/end-user-guide/proc_converting-a-visual-studio-code-extension-to-a-che-theia-plug-in.adoc
Labels: status/code-review

#740 Fix Che 7 index.html redirect
  src/main/pages/che-7/overview/assembly_introduction-to-eclipse-che.adoc
Labels: Che-6, kind/bug, kind/docs, status/code-review

#742 More Explicit Instructions on Changing /local/path in Che Single User Mode Instructions
  src/main/pages/che-6/overview/quick-start.adoc
Labels: status/code-review
