Repository eclipse-che/che-docs, pull requests merged in 2019-07, with the labels that each got.

#736 Added the 'Configuring GitHub oAuth for OpenShift infrastructure' sec…
  src/main/images/git/github-provider-added.png
  src/main/pages/che-6/user-guide/version-control.adoc
Labels: kind/enhancement, status/code-review

#743 Set new version 7.0.0-RC-3.0-SNAPSHOT
  pom.xml
Labels: status/code-review

#729 che-docs #715 Adding documentation for Hosted Che
  .gitignore
  src/main/_data/sidebars/che_7_docs.yml
  src/main/images/hosted-che/ephemeral-toggle.png
  src/main/images/hosted-che/getting-started-devfile.png
  src/main/images/hosted-che/getting-started-up.png
  src/main/pages/che-7/overview/assembly_hosted-che.adoc
  src/main/pages/che-7/overview/proc_contributing-to-github-projects-in-hosted-che.adoc
  src/main/pages/che-7/overview/proc_creating-a-workspace-from-template-in-hosted-che.adoc
  src/main/pages/che-7/overview/proc_creating-a-worskpace-from-the-user-dashboard.adoc
  src/main/pages/che-7/overview/proc_importing-projects-from-github-in-hosted-che.adoc
  src/main/pages/che-7/overview/proc_registering-to-hosted-che.adoc
  src/main/pages/che-7/overview/ref_about-hosted-che.adoc
Labels: kind/docs, status/code-review

#737 i12974 - two new docs:...
  src/main/_data/sidebars/che_7_docs.yml
  src/main/images/workspaces/add-blank-project.png
  src/main/images/workspaces/add-git-project.png
  src/main/images/workspaces/add-sample-project.png
  src/main/images/workspaces/che-in-che-devfile.png
  src/main/images/workspaces/choose-sample-project.png
  src/main/images/workspaces/configure-command.png
  src/main/images/workspaces/create-and-edit.png
  src/main/images/workspaces/create-and-open.png
  src/main/images/workspaces/git-clone-command-2.png
  src/main/images/workspaces/git-clone-command.png
  src/main/images/workspaces/git-clone-terminal.png
  src/main/images/workspaces/open-blank-project.png
  src/main/images/workspaces/open-git-project.png
  src/main/images/workspaces/run-command.png
  src/main/images/workspaces/run-from-recent-workspaces.png
  src/main/images/workspaces/select-workpace.png
  src/main/images/workspaces/welcome.png
  src/main/images/workspaces/workspace-config-overview.png
  src/main/images/workspaces/workspace-config-projects.png
  src/main/images/workspaces/workspace-config-yaml.png
  src/main/pages/che-6/user-guide/creating-starting-workspaces.adoc
  src/main/pages/che-7/end-user-guide/con_che-theia-plug-in-concept-in-detail.adoc
  src/main/pages/che-7/end-user-guide/proc_developing-che-theia-plug-ins-using-che.adoc
  src/main/pages/che-7/hands-on-guidance/assembly_end-user-tasks.adoc
  src/main/pages/che-7/hands-on-guidance/proc_configuring-a-che-workspace-using-a-devfile.adoc
  src/main/pages/che-7/hands-on-guidance/proc_creating-a-workspace-by-importing-source-code-of-your-project.adoc
  src/main/pages/che-7/hands-on-guidance/proc_creating-a-workspace-from-code-sample.adoc
  src/main/pages/che-7/overview/assembly_che-quick-starts.adoc
  src/main/pages/che-7/overview/proc_running-che-locally.adoc
Labels: status/code-review

#657 Added description how user-defined PVCs are processed on different PVC strategies
  src/main/pages/che-6/setup-kubernetes/kubernetes-or-openshift-admin-guide.adoc
Labels: kind/enhancement, status/code-review

#735 Add template for IDE basics.
  src/main/_data/sidebars/che_7_docs.yml
  src/main/pages/che-7/end-user-guide/assembly_che-theia-ide-basics.adoc
Labels: Che-7, kind/docs, kind/enhancement, kind/question, status/code-review

#759 Fix Che Architecture content placement
  src/main/_data/sidebars/che_7_docs.yml
  src/main/pages/che-7/hands-on-guidance/assembly_che-architectural-elements.adoc
  src/main/pages/che-7/hands-on-guidance/assembly_contributor-tasks.adoc
  src/main/pages/che-7/overview/assembly_che-architecture.adoc
  src/main/pages/che-7/overview/assembly_che-workspace-components.adoc
  src/main/pages/che-7/overview/assembly_che-workspace-configuration.adoc
  src/main/pages/che-7/overview/assembly_che-workspace-controller.adoc
  src/main/pages/che-7/overview/assembly_che-workspaces.adoc
  src/main/pages/che-7/overview/con_che-devfile-registry.adoc
  src/main/pages/che-7/overview/con_che-editor-plug-in.adoc
  src/main/pages/che-7/overview/con_che-keycloak.adoc
  src/main/pages/che-7/overview/con_che-plug-in-broker.adoc
  src/main/pages/che-7/overview/con_che-plug-in-registry.adoc
  src/main/pages/che-7/overview/con_che-plug-ins.adoc
  src/main/pages/che-7/overview/con_che-postgresql.adoc
  src/main/pages/che-7/overview/con_che-server.adoc
  src/main/pages/che-7/overview/con_che-user-dashboard.adoc
  src/main/pages/che-7/overview/con_che-user-runtimes.adoc
  src/main/pages/che-7/overview/con_che-workspace-creation-flow.adoc
  src/main/pages/che-7/overview/con_che-workspace-jwt-proxy.adoc
  src/main/pages/che-7/overview/con_high-level-che-architecture.adoc
  src/main/pages/che-7/overview/con_persistent-volume-configuration.adoc
  src/main/pages/che-7/overview/con_workspaces-namespaces-configuration.adoc
Labels: Che-7, kind/docs, kind/enhancement, status/code-review

#766 Converting a Che 6 Workspace to a Che 7 devfile
  src/main/images/workspaces/adding-pluggins-to-workspace.png
  src/main/images/workspaces/che-6-workspace-confg.png
  src/main/images/workspaces/commands-in-che-6.png
  src/main/images/workspaces/commands-in-che-7.png
  src/main/images/workspaces/component_as_a_referenceContent.png
  src/main/images/workspaces/config-workspace-code.png
  src/main/images/workspaces/configure-workspace-button.png
  src/main/images/workspaces/definin-the-workspace-editor.png
  src/main/images/workspaces/devfile-fields.png
  src/main/images/workspaces/devfile-tab-to-view.png
  src/main/images/workspaces/devfile-tab.png
  src/main/images/workspaces/edit-the-container.png
  src/main/images/workspaces/image12.png
  src/main/images/workspaces/projects-add-project.png
  src/main/images/workspaces/save-and-start-the-new-che-workspace.png
  src/main/images/workspaces/stack-list.png
  src/main/images/workspaces/workspace-devfile-changes.png
  src/main/images/workspaces/workspace-devfile-tab.png
  src/main/images/workspaces/workspace-devfile.png
  src/main/images/workspaces/workspace-empty-devfile.png
  src/main/images/workspaces/workspace_config_Che_6.png
  src/main/images/workspaces/workspace_devfile_che_7_.png
  src/main/images/workspaces/workspaces-config-page.png
  src/main/pages/che-7/end-user-guide/assembly_converting-a-che-6-workspace-to-a-che-7-devfile.adoc
  src/main/pages/che-7/end-user-guide/assembly_creating-and-configuring-a-new-che-7-workspace.adoc
  src/main/pages/che-7/end-user-guide/assembly_using-developer-environments-workspaces.adoc
  src/main/pages/che-7/end-user-guide/proc_accessing-che-6-workspace-configuration.adoc
  src/main/pages/che-7/end-user-guide/proc_adding-projects-to-your-workspace.adoc
  src/main/pages/che-7/end-user-guide/proc_configuring-the-workspace-and-adding-tooling.adoc
  src/main/pages/che-7/end-user-guide/proc_converting-a-che-6-workspace-to-a-basic-che-7-devfile.adoc
  src/main/pages/che-7/end-user-guide/proc_creating-a-new-workspace-from-the-dashboard.adoc
  src/main/pages/che-7/end-user-guide/ref_devfile-reference.adoc
  src/main/pages/che-7/end-user-guide/ref_objects-supported-in-eclipse-che.adoc
  src/main/pages/che-7/overview/ref_about-hosted-che.adoc
Labels: status/code-review

#767 Customizing the devfile and plug-in registries
  src/main/_data/sidebars/che_7_docs.yml
  src/main/images/customization/deploying-devfile-registry-in-kubernetes.png
  src/main/images/customization/deploying-plugin-registry-in-kubernetes.png
  src/main/images/logs/verifying-the-state-of-the-xml-language-server.png
  src/main/pages/che-7/administration-guide/assembly_building-and-running-a-custom-registry-image.adoc
  src/main/pages/che-7/administration-guide/assembly_building-the-images-of-the-registries.adoc
  src/main/pages/che-7/administration-guide/assembly_cloning-the-registries.adoc
  src/main/pages/che-7/administration-guide/assembly_customizing-the-devfile-and-plug-in-registries.adoc
  src/main/pages/che-7/administration-guide/assembly_deploying-the-registries.adoc
  src/main/pages/che-7/administration-guide/assembly_editing-a-devfile-and-plug-in-at-runtime.adoc
  src/main/pages/che-7/administration-guide/assembly_modifying-the-registries.adoc
  src/main/pages/che-7/administration-guide/proc_adding-a-devfile-at-runtime.adoc
  src/main/pages/che-7/administration-guide/proc_adding-a-new-devfile.adoc
  src/main/pages/che-7/administration-guide/proc_adding-a-new-plug-in.adoc
  src/main/pages/che-7/administration-guide/proc_adding-a-plug-in-at-runtime.adoc
  src/main/pages/che-7/administration-guide/proc_building-the-images-of-the-devfile-registry.adoc
  src/main/pages/che-7/administration-guide/proc_building-the-images-of-the-plug-in-registry.adoc
  src/main/pages/che-7/administration-guide/proc_cloning-the-devfile-registry.adoc
  src/main/pages/che-7/administration-guide/proc_cloning-the-plug-in-registry.adoc
  src/main/pages/che-7/administration-guide/proc_deploying-registries-in-kubernetes.adoc
  src/main/pages/che-7/administration-guide/proc_deploying-registries-in-openshift.adoc
  src/main/pages/che-7/administration-guide/proc_including-the-plug-in-binaries-in-the-registry-image.adoc
  src/main/pages/che-7/end-user-guide/assembly_using-alternative-ides-in-che.adoc
  src/main/pages/che-7/end-user-guide/con_che-theia-plug-in-concept-in-detail.adoc
  src/main/pages/che-7/end-user-guide/proc_writing-a-meta-yaml-file-and-adding-it-to-a-plug-in-registry.adoc
  src/main/pages/che-7/end-user-guide/ref_che-theia-plug-in-metadata.adoc
Labels: status/code-review
