Repository eclipse-che/che-docs, pull requests merged in 2019-05, with the labels that each got.

#645 [WIP] Update User guide -> Editor and Code Assistance
  src/main/pages/che-6/user-guide/editor_code_assistance.adoc
Labels: status/code-review

#665 Reviewed the User Guides > Commands and IDE Macros section for langua…
  src/main/pages/che-6/user-guide/commands-ide-macro.adoc
Labels: status/code-review

#710 Fix context attribute conflict.
  src/main/_config.yml
  src/main/pages/che-6/setup-openshift/openshift-multi-user.adoc
  src/main/pages/che-6/user-management/user-management.adoc
Labels: Che-6, Che-7, kind/bug, kind/docs, status/code-review

#711 Initial commit of Che 7 'Workspaces' topic.
  src/main/_data/sidebars/che_7_docs.yml
  src/main/pages/che-7/end-user-guide/assembly_making-a-workspace-portable-using-a-devfile.adoc
  src/main/pages/che-7/end-user-guide/assembly_using-developer-environments-workspaces.adoc
  src/main/pages/che-7/end-user-guide/con_workspaces-overview.adoc
Labels: Che-7, kind/docs, kind/enhancement, status/code-review

#703 Introduction to Che 7
  src/main/pages/che-7/overview/assembly_introduction-to-eclipse-che.adoc
Labels: Che-7, kind/docs, status/code-review

#708 Update and prep Che 7 topic: 'Monitoring Che'.
  src/main/_data/sidebars/che_7_docs.yml
  src/main/images/monitoring/monitoring-che-che-server-dashboard-general-panel.png
  src/main/images/monitoring/monitoring-che-che-server-dashboard-jsonrpc-panel.png
  src/main/images/monitoring/monitoring-che-che-server-dashboard-requests-panel.png
  src/main/images/monitoring/monitoring-che-che-server-dashboard-workspace-detailed-panel.png
  src/main/images/monitoring/monitoring-che-che-server-dashboard-workspace-panel.png
  src/main/images/monitoring/monitoring-che-che-server-jvm-dashboard-buffer-pools.png
  src/main/images/monitoring/monitoring-che-che-server-jvm-dashboard-classloading.png
  src/main/images/monitoring/monitoring-che-che-server-jvm-dashboard-garbage-collection.png
  src/main/images/monitoring/monitoring-che-che-server-jvm-dashboard-jvm-memory-pools-heap.png
  src/main/images/monitoring/monitoring-che-che-server-jvm-dashboard-jvm-memory-pools-non-heap.png
  src/main/images/monitoring/monitoring-che-che-server-jvm-dashboard-jvm-memory.png
  src/main/images/monitoring/monitoring-che-che-server-jvm-dashboard-jvm-misc.png
  src/main/images/monitoring/monitoring-che-che-server-jvm-dashboard-quick-facts.png
  src/main/images/monitoring/monitoring-che-che-server-jvm-dashboard.png
  src/main/images/monitoring/monitoring-che-new-grafana-dashboard-queries.png
  src/main/images/monitoring/monitoring-che-new-grafana-dashboard-visualization.png
  src/main/images/monitoring/monitoring-che-prometheus-console.png
  src/main/images/monitoring/monitoring-che-stack-structure.png
  src/main/pages/che-7/administration-guide/assembly_administration-tasks.adoc
  src/main/pages/che-7/administration-guide/assembly_monitoring-che.adoc
  src/main/pages/che-7/administration-guide/proc_collecting-che-metrics-with-prometheus.adoc
  src/main/pages/che-7/administration-guide/proc_developing-che-monitoring-metrics.adoc
  src/main/pages/che-7/administration-guide/proc_developing-grafana-dashboards.adoc
  src/main/pages/che-7/administration-guide/proc_extending-che-monitoring-metrics.adoc
  src/main/pages/che-7/administration-guide/proc_viewing-che-metrics-on-grafana-dashboards.adoc
Labels: Che-7, kind/docs, kind/enhancement, status/code-review
